---
layout: page
---

{% include lang.html %}
{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="signal-archive-list ps-xl-3">
  {% for post in site.posts %}
    {% assign cur_year = post.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}
        </ul>
      </section>
      {% endunless %}

      <section class="signal-archive-year" data-reveal>
        <div class="signal-archive-year__header">
          <div>
            <time class="year lead d-block">{{ cur_year }}</time>
          </div>
        </div>
        <ul class="signal-archive-stream list-unstyled">

      {% assign last_year = cur_year %}
    {% endif %}

    {% assign ts = post.date | date: '%s' %}
    <li class="signal-archive-stream__item" data-reveal>
      <div class="signal-archive-stream__date">
        <span class="signal-archive-stream__day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
        <span class="signal-archive-stream__month" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
          {{ post.date | date: df_strftime_m }}
        </span>
      </div>

      <div class="signal-archive-stream__content">
        <a class="signal-archive-stream__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>

        {% if post.categories.size > 0 or post.tags.size > 0 %}
          <p class="signal-archive-stream__meta">
            {% if post.categories.size > 0 %}
              {{ post.categories | join: ' / ' }}
            {% endif %}
            {% if post.categories.size > 0 and post.tags.size > 0 %}
              <span class="signal-archive-stream__sep">•</span>
            {% endif %}
            {% if post.tags.size > 0 %}
              {{ post.tags | slice: 0, 3 | join: ', ' }}
            {% endif %}
          </p>
        {% endif %}
      </div>
    </li>

    {% if forloop.last %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}
</div>
