---
layout: page
---

{% include lang.html %}

<div id="archives" class="signal-archives ps-xl-3">
  {% for post in site.posts %}
    {% assign cur_year = post.date | date: '%Y' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}
        </ul>
      </section>
      {% endunless %}

      <section class="signal-archives__year" data-reveal>
        <h2 class="signal-archives__year-title">{{ cur_year }}</h2>
        <ul class="signal-archives__items">

      {% assign last_year = cur_year %}
    {% endif %}

    <li class="signal-archives__item" data-reveal>
      <time class="signal-archives__date" datetime="{{ post.date | date_to_xmlschema }}">
        <span class="signal-archives__day">{{ post.date | date: '%d' }}</span>
        <span class="signal-archives__month">{{ post.date | date: '%b' }}</span>
      </time>
      <a class="signal-archives__link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>

    {% if forloop.last %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}
</div>
